/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/open-sans-v28-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/open-sans-v28-latin-300.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/open-sans-v28-latin-300.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/open-sans-v28-latin-300.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/open-sans-v28-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/open-sans-v28-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/open-sans-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/open-sans-v28-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/open-sans-v28-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/open-sans-v28-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/open-sans-v28-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/open-sans-v28-latin-regular.svg#OpenSans')
      format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/open-sans-v28-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/open-sans-v28-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/open-sans-v28-latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/open-sans-v28-latin-600.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/open-sans-v28-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/open-sans-v28-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/open-sans-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/open-sans-v28-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/open-sans-v28-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/open-sans-v28-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/open-sans-v28-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/open-sans-v28-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/open-sans-v28-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/open-sans-v28-latin-800.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/open-sans-v28-latin-800.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/open-sans-v28-latin-800.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/open-sans-v28-latin-800.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/open-sans-v28-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/open-sans-v28-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/open-sans-v28-latin-italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/open-sans-v28-latin-italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/open-sans-v28-latin-italic.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/open-sans-v28-latin-italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/open-sans-v28-latin-italic.svg#OpenSans')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'stair-houses';
  src: url('./assets/fonts/stair-houses.eot?16572010');
  src: url('./assets/fonts/stair-houses.eot?16572010#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/stair-houses.woff2?16572010') format('woff2'),
    url('./assets/fonts/stair-houses.woff?16572010') format('woff'),
    url('./assets/fonts/stair-houses.ttf?16572010') format('truetype'),
    url('./assets/fonts/stair-houses.svg?16572010#stair-houses') format('svg');
  font-weight: normal;
  font-style: normal;
}
*[class^='icon-']:before,
*[class*=' icon-']:before {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'stair-houses';
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  font-size: 120%;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ok:before {
  content: '\e800';
} /* '' */
.icon-ok-circled2:before {
  content: '\e801';
} /* '' */
.icon-ok-circled:before {
  content: '\e802';
} /* '' */
.icon-cancel-circled2:before {
  content: '\e803';
} /* '' */
.icon-cancel-circled:before {
  content: '\e804';
} /* '' */
.icon-cancel:before {
  content: '\e805';
} /* '' */
.icon-plus:before {
  content: '\e806';
} /* '' */
.icon-plus-circled:before {
  content: '\e807';
} /* '' */
.icon-home:before {
  content: '\e808';
} /* '' */
.icon-help-circled:before {
  content: '\e809';
} /* '' */
.icon-clock:before {
  content: '\e80a';
} /* '' */
.icon-logout:before {
  content: '\e80b';
} /* '' */
.icon-login:before {
  content: '\e80c';
} /* '' */
.icon-trash-empty:before {
  content: '\e80d';
} /* '' */
.icon-upload:before {
  content: '\e80e';
} /* '' */
.icon-user:before {
  content: '\e80f';
} /* '' */
.icon-users:before {
  content: '\e810';
} /* '' */
.icon-cw:before {
  content: '\e811';
} /* '' */
.icon-right-open:before {
  content: '\e812';
} /* '' */
.icon-left-open:before {
  content: '\e813';
} /* '' */
.icon-down-open:before {
  content: '\e814';
} /* '' */
.icon-up-open:before {
  content: '\e815';
} /* '' */
.icon-right-dir:before {
  content: '\e816';
} /* '' */
.icon-left-dir:before {
  content: '\e817';
} /* '' */
.icon-up-dir:before {
  content: '\e818';
} /* '' */
.icon-down-dir:before {
  content: '\e819';
} /* '' */
.icon-arrows-cw:before {
  content: '\e81a';
} /* '' */
.icon-mail:before {
  content: '\e81b';
} /* '' */
.icon-inbox:before {
  content: '\e81c';
} /* '' */
.icon-calendar:before {
  content: '\e81d';
} /* '' */
.icon-pencil:before {
  content: '\e81e';
} /* '' */
.icon-edit:before {
  content: '\e81f';
} /* '' */
.icon-font:before {
  content: '\e820';
} /* '' */
.icon-bold:before {
  content: '\e821';
} /* '' */
.icon-italic:before {
  content: '\e822';
} /* '' */
.icon-text-height:before {
  content: '\e823';
} /* '' */
.icon-text-width:before {
  content: '\e824';
} /* '' */
.icon-comment:before {
  content: '\e825';
} /* '' */
.icon-chat:before {
  content: '\e826';
} /* '' */
.icon-mail-alt:before {
  content: '\f0e0';
} /* '' */
.icon-comment-empty:before {
  content: '\f0e5';
} /* '' */
.icon-chat-empty:before {
  content: '\f0e6';
} /* '' */
.icon-coffee:before {
  content: '\f0f4';
} /* '' */
.icon-food:before {
  content: '\f0f5';
} /* '' */
.icon-building:before {
  content: '\f0f7';
} /* '' */
.icon-plus-squared:before {
  content: '\f0fe';
} /* '' */
.icon-direction:before {
  content: '\f124';
} /* '' */
.icon-help:before {
  content: '\f128';
} /* '' */
.icon-ok-squared:before {
  content: '\f14a';
} /* '' */
.icon-pencil-squared:before {
  content: '\f14b';
} /* '' */
.icon-plus-squared-alt:before {
  content: '\f196';
} /* '' */
.icon-mail-squared:before {
  content: '\f199';
} /* '' */
.icon-building-filled:before {
  content: '\f1ad';
} /* '' */
.icon-trash:before {
  content: '\f1f8';
} /* '' */
.icon-birthday:before {
  content: '\f1fd';
} /* '' */
.icon-user-plus:before {
  content: '\f234';
} /* '' */
.icon-user-times:before {
  content: '\f235';
} /* '' */
.icon-question-circle-o:before {
  content: '\f29c';
} /* '' */
.icon-address-book:before {
  content: '\f2b9';
} /* '' */
.icon-address-book-o:before {
  content: '\f2ba';
} /* '' */
.icon-address-card:before {
  content: '\f2bb';
} /* '' */
.icon-address-card-o:before {
  content: '\f2bc';
} /* '' */
.icon-user-circle:before {
  content: '\f2bd';
} /* '' */
.icon-user-circle-o:before {
  content: '\f2be';
} /* '' */
.icon-id-card:before {
  content: '\f2c2';
} /* '' */
.icon-id-card-o:before {
  content: '\f2c3';
} /* '' */
