@import 'fonts';

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: calc(6px + 1.5vw);
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-aspect-ratio: 7/2) {
  html,
  body {
    font-size: calc(5px + 1.6vw);
  }
}

@media (max-aspect-ratio: 1/1) {
  html,
  body {
    font-size: calc(5px + 1.6vh);
    font-size: calc(5px + (1.6 * (100vh - var(--vh-offset, 0px)) / 100));
  }
}

@media (max-aspect-ratio: 4/9) {
  html,
  body {
    font-size: calc(6px + 1.5vh);
    font-size: calc(6px + (1.5 * (100vh - var(--vh-offset, 0px)) / 100));
  }
}

#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.page {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  overflow: visible;
}
