@import 'fonts';

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: calc(6px + 1.5vw);
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-aspect-ratio: 7/2) {
  html,
  body {
    font-size: calc(5px + 1.6vw);
  }
}

@media (max-aspect-ratio: 1/1) {
  html,
  body {
    font-size: calc(5px + 1.6vh);
    font-size: calc(5px + (1.6 * (100vh - var(--vh-offset, 0px)) / 100));
  }
}

@media (max-aspect-ratio: 4/9) {
  html,
  body {
    font-size: calc(6px + 1.5vh);
    font-size: calc(6px + (1.5 * (100vh - var(--vh-offset, 0px)) / 100));
  }
}

#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.page {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  overflow: visible;
}

.content-base {
  width: calc(100% - 1rem);
  height: calc(85vh - 1rem);
  height: calc((85 * (100vh - var(--vh-offset, 0px)) / 100) - 1rem);
  padding: 0.5rem;
  margin: 0;
  border: none;

  &.small {
    height: calc(75vh - 1rem);
    height: calc((75 * (100vh - var(--vh-offset, 0px)) / 100) - 1rem);
  }
}

@media (min-aspect-ratio: 3/1) {
  .content-base {
    height: calc(78vh - 1rem);
    height: calc((78 * (100vh - var(--vh-offset, 0px)) / 100) - 1rem);

    &.small {
      height: calc(63vh - 1rem);
      height: calc((63 * (100vh - var(--vh-offset, 0px)) / 100) - 1rem);
    }
  }
}

@media (max-aspect-ratio: 1/1) {
  .content-base {
    height: calc(100vh - 15vw - 1rem);
    height: calc((100 * (100vh - var(--vh-offset, 0px)) / 100) - 1rem - 15vw);

    &.small {
      height: calc(100vh - 26vw - 1rem);
      height: calc((100 * (100vh - var(--vh-offset, 0px)) / 100) - 1rem - 26vw);
    }
  }
}

@media (max-aspect-ratio: 9/16) {
  .content-base {
    height: calc(100vh - 22vw - 1rem);
    height: calc((100 * (100vh - var(--vh-offset, 0px)) / 100) - 1rem - 22vw);

    &.small {
      height: calc(100vh - 45vw - 1rem);
      height: calc((100 * (100vh - var(--vh-offset, 0px)) / 100) - 1rem - 45vw);
    }
  }
}
